body {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  color: #333333;
}

.inner {
  max-width: 1110px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .inner {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

.title {
  font-size: 32px;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  font-weight: 600;
  letter-spacing: 0.068em;
}

.btn a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.015em;
  width: 160px;
  border: 1px solid #000;
}

.btn a:hover {
  color: #000;
  background-color: #fff;
  border: solid 1px #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header {
  z-index: 100;
  position: fixed;
  width: 100%;
}

.header_inner {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 58px;
}

@media (max-width: 767px) {
  .header_inner {
    padding: 0 20px;
  }
}

.header_charge_color {
  background-color: #292929e0;
}

.drawer-icon {
  z-index: 300;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  cursor: pointer;
}

.drawer-icon.is-active .drawer-icon__bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}

.drawer-icon.is-active .drawer-icon__bar2 {
  display: none;
}

.drawer-icon.is-active .drawer-icon__bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.drawer-icon__bars {
  width: 30px;
  height: 20px;
  position: relative;
  display: block;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  top: 0;
  left: 0;
}

.drawer-icon__bar1 {
  top: 0;
}

.drawer-icon__bar2 {
  top: 8px;
}

.drawer-icon__bar3 {
  top: 16px;
}

.drawer-content {
  width: 55%;
  height: 80%;
  position: fixed;
  right: 0;
  top: 0;
  background: #222222;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  z-index: 299;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (max-width: 767px) {
  .drawer-content {
    width: 100%;
    height: 100vh;
  }
}

.drawer-content__items {
  padding: 180px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .drawer-content__items {
    padding: 140px;
  }
}

@media (max-width: 767px) {
  .drawer-content__items {
    padding: 90px;
  }
}

.drawer-content__item {
  margin-top: 30px;
}

.drawer-content__item:first-child {
  margin-top: 0;
}

.drawer-content__item a {
  display: block;
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  letter-spacing: 0.068em;
}

.drawer-content__item a:hover {
  color: #808080;
}

.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 298;
  display: none;
}

.drawer-background.is-active {
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
}

.top {
  height: 100vh;
}

.top::after {
  position: absolute;
  content: "";
  display: block;
  background-color: #222;
  height: 100%;
  width: 50%;
  top: 0;
  right: 0;
  z-index: -1;
}

.top_img {
  background: url(../img/kv-img.png) no-repeat center center/cover;
  height: 80%;
  width: 70%;
  position: relative;
}

.top_copy {
  content: "";
  position: absolute;
  top: 30%;
  left: 85%;
  color: #fff;
}

@media (max-width: 767px) {
  .top_copy {
    left: 20%;
  }
}

.top_jp {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.050em;
}

@media (max-width: 767px) {
  .top_jp {
    font-size: 18px;
  }
}

.top_company {
  font-size: 20px;
  margin-top: 5px;
  font-weight: 500;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  letter-spacing: 0.063em;
}

.main_copy {
  margin-top: 10px;
  font-size: 72px;
  font-weight: 600;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
}

.main_copy br {
  display: block;
  content: "";
  height: 10px;
}

.about {
  padding: 120px 0 80px 0;
}

.about_inner {
  background: url(../img/about-img.png) no-repeat center center/contain;
  max-width: 1110px;
  width: 100%;
  height: 607px;
  position: relative;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .about_inner {
    padding: 0 15px;
    background: url(../img/about-img.png) no-repeat center center/cover;
  }
}

.about_container {
  background-color: #fff;
  padding: 50px 30px;
  width: 590px;
  position: absolute;
  top: 50%;
  left: 7%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 767px) {
  .about_container {
    width: 345px;
    left: auto;
  }
}

.about_copy {
  line-height: 2;
  margin-top: 30px;
}

.about_button {
  display: inline-block;
  margin-top: 30px;
}

.about_button a {
  padding: 10px 40px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.015em;
  width: 160px;
}

.items_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .items_inner {
    display: block;
  }
}

@media (max-width: 767px) {
  .items_inner {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .culture {
    margin-top: 80px;
  }
}

@media (max-width: 767px) {
  .culture {
    margin-top: 80px;
  }
}

.items_img {
  margin-top: 30px;
}

.items_img img {
  width: 100%;
}

.items_text {
  margin-top: 30px;
}

.items_button {
  margin-top: 30px;
}

.topics {
  margin-top: 120px;
}

.topics_items {
  margin-top: 55px;
  margin-left: auto;
  max-width: 700px;
}

.topics_item {
  border-bottom: solid 1px #ADADAD;
  margin-top: 30px;
}

.topics_item:first-child {
  margin-top: 0;
}

.topics_date {
  color: #ADADAD;
}

@media (max-width: 767px) {
  .topics_date {
    font-size: 14px;
  }
}

.topics_subtitle {
  color: #333333;
  margin: 12px 0;
}

@media (max-width: 767px) {
  .topics_subtitle {
    font-size: 14px;
  }
}

.topics_button {
  text-align: right;
  margin-top: 30px;
}

.contact {
  margin: 120px 0;
}

@media (max-width: 767px) {
  .contact {
    margin: 80px 0;
  }
}

.contact_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .contact_inner {
    display: block;
  }
}

@media (max-width: 767px) {
  .contact_inner {
    display: block;
  }
}

.contact_content {
  padding: 80px 80px 80px 0;
}

@media (max-width: 767px) {
  .contact_content {
    padding: 0 0 80px;
  }
}

.contact_text {
  margin-top: 30px;
  line-height: 2;
}

.contact_button {
  margin-top: 30px;
}

.contact_img {
  width: 100%;
}

.contact_img img {
  width: 100%;
}

.footer_copy {
  background-color: #525252;
  color: #fff;
  text-align: center;
  padding: 18px 0;
  font-size: 10px;
}

.about_top {
  height: 464px;
}

.about_top::after {
  position: absolute;
  content: "";
  display: block;
  background-color: #222;
  height: 464px;
  width: 50%;
  top: 0;
  right: 0;
  z-index: -1;
}

.about_top_img {
  background: url(../img/heading-img.png) no-repeat center center/cover;
  height: 75%;
  width: 70%;
  position: relative;
}

.about_top_copy {
  content: "";
  position: absolute;
  color: #fff;
  top: 35%;
  left: 65%;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  width: 82%;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .about_top_copy {
    left: 50%;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .about_top_copy {
    left: 5%;
    width: 120%;
  }
}

.about_top_title {
  font-size: 72px;
  font-weight: 600;
  letter-spacing: 0.063em;
}

@media (max-width: 767px) {
  .about_top_title {
    font-size: 50px;
  }
}

.about_top_text {
  font-size: 20px;
  letter-spacing: 0.063em;
  margin-top: 5px;
}

.vision_inner {
  padding-left: 226px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .vision_inner {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .vision_inner {
    padding-left: 15px;
  }
}

.vision_box {
  width: 415px;
  margin: 120px 0;
}

@media (max-width: 767px) {
  .vision_box {
    width: 95%;
  }
}

.vision_subtitle {
  font-weight: 600;
  font-size: 24px;
  margin-top: 30px;
}

.vision_text {
  margin-top: 30px;
  line-height: 2;
}

.vision_text br {
  display: block;
  content: "";
  height: 30px;
}

.ceo {
  height: 900px;
}

.ceo_inner {
  position: relative;
}

.ceo_img {
  width: 420px;
}

@media (max-width: 767px) {
  .ceo_img {
    width: 100%;
  }
}

.ceo_img img {
  width: 100%;
}

.ceo_box {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 770px;
  padding: 160px 185px 90px;
  margin-top: 144px;
}

@media (max-width: 767px) {
  .ceo_box {
    padding: 160px 15px 90px;
    width: 100%;
  }
}

.ceo_text {
  margin-top: 30px;
  line-height: 2;
}

.ceo_text br {
  display: block;
  content: "";
  height: 30px;
}

.company_title {
  margin-top: 120px;
}

.company_lists {
  margin-top: 50px;
  border-top: dotted 1px #888888;
}

.company_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  border-bottom: dotted 1px #888888;
  width: 72%;
  margin-left: auto;
}

@media (max-width: 767px) {
  .company_list {
    width: 100%;
  }
}

.company_list_title {
  font-weight: 600;
  width: 80px;
  margin-right: 112px;
}

@media (max-width: 767px) {
  .company_list_title {
    width: 50%;
    margin-right: 0;
  }
}

.gmap {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  margin: 40px 0 120px;
}

.gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

form {
  max-width: 700px;
  margin: 130px auto 200px;
}

@media (max-width: 767px) {
  form {
    margin: 100px auto 150px;
  }
}

.label-title {
  line-height: 1.5;
  font-size: 14px;
  padding: 0 15px;
}

.radioinput {
  text-align: center;
}

.form-sample {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: 40px;
}

@media (max-width: 767px) {
  .form-sample {
    display: block;
  }
}

.form-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: 40px;
}

@media (max-width: 767px) {
  .form-radio {
    display: block;
  }
}

.radio-label {
  width: 100%;
  max-width: 500px;
  margin-left: 20px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .radio-label {
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .radio-label label {
    margin-top: 10px;
  }
  .radio-label label:first-child {
    margin-top: 0;
  }
}

.form-label {
  width: 100%;
  max-width: 248px;
  font-weight: bold;
  font-size: 19px;
}

.form-label.last {
  margin-top: 10px;
  margin-bottom: auto;
}

.form-require {
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 55px;
  display: inline-block;
  text-align: center;
  background: #333333;
  color: #fff;
  font-size: 15px;
}

.form-input {
  border: 1px solid gray;
  margin-left: 40px;
  padding-left: 10px;
  height: 50px;
  width: 100%;
  max-width: 410px;
  font-size: 18px;
}

@media (max-width: 767px) {
  .form-input {
    margin-left: 0;
    margin-top: 20px;
  }
}

.form-textarea {
  border: 1px solid #808080;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  max-width: 410px;
  font-size: 18px;
}

@media (max-width: 767px) {
  .form-textarea {
    margin-left: 0;
    margin-top: 20px;
  }
}

.form_button {
  text-align: center;
  margin-top: 40px;
}

.form-Btn {
  display: inline-block;
  width: 160px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.015em;
  padding: 6px 0;
  color: #fff;
  background-color: #333333;
  border: 1px solid #333333;
}

.form-Btn:hover {
  color: #000;
  background-color: #fff;
  border: solid 1px #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact_top_img {
  background: url(../img/heading-img_contact.png) no-repeat center center/cover;
  height: 75%;
  width: 70%;
  position: relative;
}
